{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign image = block.settings.image %}
  {% assign pretext = block.settings.pretext %}
  {% assign title = block.settings.title %}
  {% assign subtitle = block.settings.subtitle %}
  {% assign caption_background = block.settings.caption_background %}
  {% assign caption_background_transparency = block.settings.caption_background_transparency %}
  {% assign text_position = block.settings.text_position %}
  {% assign text_align = block.settings.text_align %}
  {% assign button1 = block.settings.button1 %}
  {% assign button1_link = block.settings.button1_link %}
  {% assign button1_highlight = block.settings.button1_highlight %}
  {% assign button2 = block.settings.button2 %}
  {% assign button2_link = block.settings.button2_link %}
  {% assign button2_highlight = block.settings.button2_highlight %}
{% else %}
  {% assign id = section.id %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign image = section.settings.image %}
  {% assign image_m = section.settings.image_m %}
  {% assign pretext = section.settings.pretext %}
  {% assign pretext_m = section.settings.pretext_m %}
  {% assign title = section.settings.title %}
  {% assign title_m = section.settings.title_m %}
  {% assign subtitle = section.settings.subtitle %}
  {% assign subtitle_m = section.settings.subtitle_m %}
  {% assign caption_background = section.settings.caption_background %}
  {% assign caption_background_transparency = section.settings.caption_background_transparency %}
  {% assign text_position = section.settings.text_position %}
  {% assign text_align = section.settings.text_align %}
  {% assign button1 = section.settings.button1 %}
  {% assign button1_link = section.settings.button1_link %}
  {% assign button1_highlight = section.settings.button1_highlight %}
  {% assign button2 = section.settings.button2 %}
  {% assign button2_link = section.settings.button2_link %}
  {% assign button2_highlight = section.settings.button2_highlight %}
  {% assign background_image = section.settings.background_image %}
  {% assign enable_overlay = section.settings.enable_overlay_desktop %}
{% endif %}

{% if wide_display == false %}
<div class="container">
  <div class="sixteen columns">
{% endif %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

{% style %}

#banner-{{ id }} .iwto_mobile {
  display: none;
}
#banner-{{ id }} .caption .pretext,
#banner-{{ id }} .caption .headline,
#banner-{{ id }} .caption .subtitle {
  color: {{ section.settings.text_color }};
}
@media screen and (max-width: 798px) {
  #banner-{{ id }} .iwto_desktop {
    display: none;
  }
  #banner-{{ id }} .iwto_mobile {
    display: block;
  }
}
{% endstyle %}

<section id="banner-{{ id }}" class="banner{% unless enable_overlay %} itwo-banner{% endunless %} full-width--{{ wide_display }}" {% if background_image != blank %}style="background-image: url('{{ background_image | img_url: 'master' }}');"{% endif %}>
  {% if image != nil %}
    <img class="{% if image_m != blank %}iwto_desktop{% endif %}" src="{{ image | img_url: '100x' }}"
          alt="{{ image.alt | escape }}"
          class="lazyload {{ settings.image_loading_style }}"
          sizes="100vw"
          data-src="{{ image | img_url: default }}"
          srcset="
          {{ image | img_url: default }} {{default | replace: 'x', 'w'}},
          {{ image | img_url: size1 }} {{size1 | replace: 'x', 'w'}},
          {{ image | img_url: size2 }} {{size2 | replace: 'x', 'w'}},
          {{ image | img_url: size3 }} {{size3 | replace: 'x', 'w'}},
          {{ image | img_url: size4 }} {{size4 | replace: 'x', 'w'}},
          {{ image | img_url: size5 }} {{size5 | replace: 'x', 'w'}},
          {{ image | img_url: size6 }} {{size6 | replace: 'x', 'w'}},
          {{ image | img_url: size7 }} {{size7 | replace: 'x', 'w'}},
          {{ image | img_url: size8 }} {{size8 | replace: 'x', 'w'}},
          {{ image | img_url: size9 }} {{size9 | replace: 'x', 'w'}},
          {{ image | img_url: size10 }} {{size10 | replace: 'x', 'w'}}"

           />
  {% endif %}
  {% if image_m != nil %}
    <img class="iwto_mobile" src="{{ image_m | img_url: '100x' }}"
          alt="{{ image_m.alt | escape }}"
          class="lazyload {{ settings.image_loading_style }}"
          sizes="100vw"
          data-src="{{ image_m | img_url: default }}"
          srcset="
          {{ image_m | img_url: default }} {{default | replace: 'x', 'w'}},
          {{ image_m | img_url: size1 }} {{size1 | replace: 'x', 'w'}},
          {{ image_m | img_url: size2 }} {{size2 | replace: 'x', 'w'}},
          {{ image_m | img_url: size3 }} {{size3 | replace: 'x', 'w'}},
          {{ image_m | img_url: size4 }} {{size4 | replace: 'x', 'w'}},
          {{ image_m | img_url: size5 }} {{size5 | replace: 'x', 'w'}},
          {{ image_m | img_url: size6 }} {{size6 | replace: 'x', 'w'}},
          {{ image_m | img_url: size7 }} {{size7 | replace: 'x', 'w'}},
          {{ image_m | img_url: size8 }} {{size8 | replace: 'x', 'w'}},
          {{ image_m | img_url: size9 }} {{size9 | replace: 'x', 'w'}},
          {{ image_m | img_url: size10 }} {{size10 | replace: 'x', 'w'}}"

           />
  {% endif %}
  {% unless button1_link != blank and button2_link != blank %}
    {% if button1_link != blank %}
      <a href="{{ button1_link }}" class="banner-full-link">
        {{ button1 }}
      </a>
    {% endif %}
    {% if button2_link != blank %}
      <a href="{{ button2_link }}" class="banner-full-link">
        {{ button2 }}
      </a>
    {% endif %}
  {% endunless %}
  {% unless pretext == blank and title == blank and subtitle == blank and button1 == blank and button2 == blank %}
    <div class="position-{{ text_position }} caption js-caption">
      <div class="caption-content caption-background-{{ caption_background }} caption-transparency-{{ caption_background_transparency }} align-{{ text_align }}">
        {% if pretext != blank %}
          <div class="pretext{% if pretext_m != blank %} iwto_desktop{% endif %}">
            {{ pretext }}
          </div>
        {% endif %}
        {% if pretext_m != blank %}
          <div class="pretext iwto_mobile">
            {{ pretext_m }}
          </div>
        {% endif %}
        {% if title != blank %}
          <h1 class="headline{% if title_m != blank %} iwto_desktop{% endif %}">
            {{ title }}
          </h1>
        {% endif %}
        {% if title_m != blank %}
          <h1 class="headline iwto_mobile">
            {{ title_m }}
          </h1>
        {% endif %}
        {% if subtitle != blank %}
          <div class="subtitle{% if subtitle_m != blank %} iwto_desktop{% endif %}">
            {{ subtitle }}
          </div>
        {% endif %}
        {% if subtitle_m != blank %}
          <div class="subtitle iwto_mobile">
            {{ subtitle_m }}
          </div>
        {% endif %}
        {% if button1 != blank %}
          <a {% if button1_link != blank %}href="{{ button1_link }}"{% endif %} class="action_button first_button highlight-{{ button1_highlight }}">
            {{ button1 }}
          </a>
        {% endif %}
        {% if button2 != blank %}
          <a {% if button2_link != blank %}href="{{ button2_link }}"{% endif %} class="action_button second_button highlight-{{ button2_highlight }}">
            {{ button2 }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endunless %}
</section>

{% if wide_display == false %}
  </div>
</div>
{% endif %}