{%- comment %}
  Hey there! This snippet is managed by Locksmith (uselocksmith.com). You can
  fiddle with what's below, but your changes will be reset the next time that
  Locksmith interacts with your shop.

  Last updated: Fri, 17 Dec 2021 01:55:58 +0000
  Integration version: v6.27
{% endcomment -%}

{%include 'locksmith-variables', locksmith_scope: nil%}{%if locksmith_access_denied_content == blank%}{%capture locksmith_access_denied_content%}{%if locksmith_manual_lock%}{{content_for_layout}}{%elsif locksmith_server_lock%}<div id="locksmith-content">
        <div id="locksmith-spinner-wrapper" style="background:#FFF;z-index:999999;top:0;left:0;right:0;bottom:0;position:fixed">
          <style>
            @keyframes spin { from { transform: rotate(0deg) } to { transform: rotate(360deg) } }

            .locksmith-spinner {
              display: flex;
              width: 100%;
              height: 50vh;
              color: #777;
              align-items: center;
              justify-content: center;
            }

            .locksmith-spinner .spinner {
              display: block;
              animation: spin 600ms linear infinite;
              position: relative;
              width: 50px;
              height: 50px;
            }

            .locksmith-spinner .spinner svg {
              /* ran into a theme once that defined dimensions for all (??) svg elements */
              width: inherit;
              height: inherit;
            }

            .locksmith-spinner .spinner-ring {
              stroke: currentColor;
              stroke-dasharray: 100%;
              stroke-width: 2px;
              stroke-linecap: round;
              fill: none;
            }
          </style>
          <div class="locksmith-spinner">
            <div class="spinner">
              <svg width="100%" height="100%">
                <svg preserveAspectRatio="xMinYMin">
                  <circle class="spinner-ring" cx="50%" cy="50%" r="45%"></circle>
                </svg>
              </svg>
            </div>
          </div>
        </div>
      </div>{%assign _7=true%}<script data-locksmith>
        var load = function () {
          Locksmith.postResource(
            {},
            {
              container: 'locksmith-content',
              spinner: false
            }
          );
        };

        if (typeof Locksmith !== 'undefined') {
          load();
        } else {
          window.addEventListener('load', load);
        }
      </script>{%endif%}{%endcapture%}{%endif%}{%include 'locksmith-content-variables'%}{%include 'locksmith-variables', locksmith_scope: nil%}{%if locksmith_access_denied%}{%capture content_for_header%}{{content_for_header|replace:'.oembed', ''|replace:'.atom', ''|replace:'link rel="alternate" type="application/json+oembed"', 'link'|replace:' title="Feed" rel="alternate" type="application/atom+xml"', ''}}{%endcapture%}{%endif%}{%capture content_for_header%}{{content_for_header}}{%if locksmith_access_denied and locksmith_manual_lock == false and locksmith_noindex%}<meta name="robots" content="noindex" />{%endif%}{{locksmith_json}}{{locksmith_client}}

  <script data-locksmith>Locksmith.jsonTag={{locksmith_json|json}};Locksmith.jsonTagSignature={{locksmith_json_signature|json}}</script>{%endcapture%}{%if locksmith_access_granted or locksmith_manual_lock%}{%if locksmith_redirect != blank%}{%assign content_for_layout=locksmith_redirect%}{%endif%}{%else%}{%assign content_for_layout=locksmith_access_denied_content%}{%endif%}{%capture _3%}{%if locksmith_access_denied%}<div id="locksmith-suspension-notice" style="display: none;">
  <div>
    <span><b>Your Locksmith account has been suspended</b>, and nobody can access this content!</span>
    <a href="/admin/apps/locksmith/" target="_blank">Start your Locksmith subscription, or disable Locksmith <i></i></a>
  </div>
  <div>
    <span><small>Only you can see this notice.</small></span>
  </div>
</div>

<style type="text/css">
  #locksmith-suspension-notice {
    box-sizing: border-box;
    min-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #8C0B0B;
    color: #fff;
    padding: 5px 10px;
    z-index: 2147483647;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
  }

  #locksmith-suspension-notice > div {
    flex-grow: 2;
  }

  #locksmith-suspension-notice > div:last-child {
    text-align: right;
    flex-grow: 1;
  }

  #locksmith-suspension-notice small {
    opacity: 0.8;
    font-size: 13px;
    display: block;
    padding-top: 4px;
  }

  #locksmith-suspension-notice span,
  #locksmith-suspension-notice a {
    display: inline-block;
    margin: 4px 10px;
  }

  #locksmith-suspension-notice a {
    background: #fff;
    color: #a00;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 8px 4px;
    white-space: nowrap;
    transition: all 0.3s;
    position: relative;
    bottom: 0;
  }

  #locksmith-suspension-notice a i {
    margin-left: 3px;
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.5px 0 3.5px 3px;
    border-color: transparent transparent transparent #a00;
  }

  #locksmith-suspension-notice a:hover {
    position: relative;
    bottom: 1px;
  }
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById('admin-bar-iframe')) {
      document.getElementById('locksmith-suspension-notice').style.display = 'flex';
    }
  });
</script>{%endif%}<script data-locksmith>
    var load = function () {
{%unless _7%}
          Locksmith.ping();
{%endunless%}

      Locksmith.util.on('submit', 'locksmith-resource-form', function (event) {
        event.preventDefault();
        var data = Locksmith.util.serializeForm(event.target);
        Locksmith.postResource(data, { spinner: false, container: 'locksmith-content' });
      });

      Locksmith.util.on('click', 'locksmith-manual-trigger', function (event) {
        event.preventDefault();
        Locksmith.postResource({}, { spinner: true, container: document });
      });
    };

    if (typeof Locksmith !== 'undefined') {
      load();
    } else {
      window.addEventListener('load', load);
    }
  </script>{%endcapture%}{%unless request.design_mode or request.host contains ".shopifypreview.com" or request.page_type == "password"%}{%assign content_for_layout=content_for_layout|append:_3%}{%endunless%}{%if locksmith_access_denied and content_for_layout contains '<input type="hidden" name="form_type" value="customer_login" />'%}{%assign locksmith_original_template=template%}{%assign template='customers/login'%}{%endif%}