{% for link in linklists[mobile-menu].links %}
  {%- comment %}<locksmith:75bc>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[mobile-menu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:75bc>{% endcomment -%}
  {% if linklists[link.handle] == empty %}
    <li data-mobile-dropdown-rel="{{ link.handle }}">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false">
          {{ link.title }}
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true">
          {{ link.title }}
        </a>
      {% endif %}
    </li>
  {% else %}
    <li data-mobile-dropdown-rel="{{ link.handle }}" class="sublink">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false">
          {{ link.title }} <span class="right icon-down-arrow"></span>
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true">
          {{ link.title }} <span class="right icon-down-arrow"></span>
        </a>
      {% endif %}
      <ul>
        {% for link in linklists[link.handle].links %}
          {%- comment %}<locksmith:1c28>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[link.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:1c28>{% endcomment -%}
          {% if linklists[link.handle] == empty %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% else %}
            <li class="sublink">
              {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                  {{ link.title }} <span class="right icon-down-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                  {{ link.title }} <span class="right icon-down-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for link in linklists[link.handle].links %}
                  {%- comment %}<locksmith:44b5>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[link.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:44b5>{% endcomment -%}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}