{% comment %}
  Facebook Open Graph meta tags
{% endcomment %}

<meta name="author" content="{{ shop.name }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">

{% if template contains 'product' %}
  {%- comment %}<locksmith:7982>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="product">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="product">{%- endcomment %}
  {%- comment %}</locksmith:7982>{% endcomment -%}
  {%- comment %}<locksmith:6e9b>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ product.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ product.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:6e9b>{% endcomment -%}
  {% for image in product.images limit:3 %}
    {%- comment %}<locksmith:b304>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ image.src | product_img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="https:{{ image.src | product_img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:b304>{% endcomment -%}
    {%- comment %}<locksmith:2788>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:2788>{% endcomment -%}
    {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign src = image.alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}
      <meta property="og:video" content="{{ src }}">
    {% endif %}
  {% endfor %}
  {%- comment %}<locksmith:5219>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:5219>{% endcomment -%}
  {%- comment %}<locksmith:cecb>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:currency" content="{{ shop.currency }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:currency" content="{{ shop.currency }}">{%- endcomment %}
  {%- comment %}</locksmith:cecb>{% endcomment -%}
{% elsif template contains 'collection' %}
  {%- comment %}<locksmith:9f99>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="product.group">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="product.group">{%- endcomment %}
  {%- comment %}</locksmith:9f99>{% endcomment -%}
  {%- comment %}<locksmith:ea32>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ collection.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ collection.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:ea32>{% endcomment -%}
  {% if collection.products_count > 0 %}
    {% assign image = collection.products.first.featured_image %}
    {%- comment %}<locksmith:b6d7>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ image.src | product_img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="https:{{ image.src | product_img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:b6d7>{% endcomment -%}
    {%- comment %}<locksmith:95b6>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:95b6>{% endcomment -%}
  {% endif %}
{% elsif template contains 'article' %}
  {%- comment %}<locksmith:5552>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:5552>{% endcomment -%}
  {%- comment %}<locksmith:f495>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ article.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ article.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:f495>{% endcomment -%}
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.image %}
    {%- comment %}<locksmith:0434>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ article.image | img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="https:{{ article.image | img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:0434>{% endcomment -%}
    {%- comment %}<locksmith:5c9b>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '600x' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '600x' }}">{%- endcomment %}
    {%- comment %}</locksmith:5c9b>{% endcomment -%}
  {% elsif article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {%- comment %}<locksmith:71ad>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:71ad>{% endcomment -%}
      {%- comment %}<locksmith:f70f>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:f70f>{% endcomment -%}
    {% endif %}
  {% else %}
      {%- comment %}<locksmith:e4cf>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ settings.og_image_fallback }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ settings.og_image_fallback }}">{%- endcomment %}
      {%- comment %}</locksmith:e4cf>{% endcomment -%}
      {%- comment %}<locksmith:f617>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback }}">{%- endcomment %}
      {%- comment %}</locksmith:f617>{% endcomment -%}
  {% endif %}
{% elsif template contains 'blog' %}
  {%- comment %}<locksmith:5f16>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:5f16>{% endcomment -%}
  {%- comment %}<locksmith:d169>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ blog.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ blog.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:d169>{% endcomment -%}
  {% if blog.articles_count > 0 %}
    {% assign article = blog.articles.first %}
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.image %}
      {%- comment %}<locksmith:40f1>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ article.image | img_url: '600x' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ article.image | img_url: '600x' }}">{%- endcomment %}
      {%- comment %}</locksmith:40f1>{% endcomment -%}
      {%- comment %}<locksmith:9cde>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '600x' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '600x' }}">{%- endcomment %}
      {%- comment %}</locksmith:9cde>{% endcomment -%}
    {% elsif article.content contains img_tag %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
      {% if src %}
        {%- comment %}<locksmith:40ac>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ src }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="https:{{ src }}">{%- endcomment %}
        {%- comment %}</locksmith:40ac>{% endcomment -%}
        {%- comment %}<locksmith:f840>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
          {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
        {%- comment %}</locksmith:f840>{% endcomment -%}
      {% endif %}
    {% else %}
      {%- comment %}<locksmith:0ae8>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ settings.og_image_fallback }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ settings.og_image_fallback }}">{%- endcomment %}
      {%- comment %}</locksmith:0ae8>{% endcomment -%}
      {%- comment %}<locksmith:5daf>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback }}">{%- endcomment %}
      {%- comment %}</locksmith:5daf>{% endcomment -%}
    {% endif %}
  {% endif %}
{% elsif template contains 'page' %}
  {%- comment %}<locksmith:3604>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:3604>{% endcomment -%}
  {%- comment %}<locksmith:29e1>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ page.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ page.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:29e1>{% endcomment -%}

  {% assign img_tag = '<' | append: 'img' %}

  {% if page.content contains img_tag %}
    {% assign src = page.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {%- comment %}<locksmith:cc9f>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:cc9f>{% endcomment -%}
      {%- comment %}<locksmith:cd1c>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:cd1c>{% endcomment -%}
    {% endif %}
  {% else %}
      {%- comment %}<locksmith:951f>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{%- endcomment %}
      {%- comment %}</locksmith:951f>{% endcomment -%}
      {%- comment %}<locksmith:eb89>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{%- endcomment %}
      {%- comment %}</locksmith:eb89>{% endcomment -%}
  {% endif %}
{% else %}
  {%- comment %}<locksmith:e68b>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="website">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="website">{%- endcomment %}
  {%- comment %}</locksmith:e68b>{% endcomment -%}
  {%- comment %}<locksmith:b887>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ page_title | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ page_title | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:b887>{% endcomment -%}
	{%- comment %}<locksmith:188e>{% endcomment -%}
	  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{% endif -%}
	  {%- comment %}original: <meta property="og:image" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{%- endcomment %}
	{%- comment %}</locksmith:188e>{% endcomment -%}
	{%- comment %}<locksmith:3c49>{% endcomment -%}
	  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{% endif -%}
	  {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ settings.og_image_fallback | img_url: '600x600' }}">{%- endcomment %}
	{%- comment %}</locksmith:3c49>{% endcomment -%}

{% endif %}
{% if page_description %}
  {%- comment %}<locksmith:af16>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="{{ page_description | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:description" content="{{ page_description | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:af16>{% endcomment -%}
{% endif %}

{% comment %}
  Twitter user name of the site, based on theme settings
{% endcomment %}
{% if settings.twitter_link != blank %}
  <meta name="twitter:site" content="{{ settings.twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{% endif %}
<meta name="twitter:card" content="summary">
{% if template contains 'product' %}
  {%- comment %}<locksmith:f112>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ product.title }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ product.title }}">{%- endcomment %}
  {%- comment %}</locksmith:f112>{% endcomment -%}
  {%- comment %}<locksmith:255d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:255d>{% endcomment -%}
  {%- comment %}<locksmith:99bb>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: '240x' }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: '240x' }}">{%- endcomment %}
  {%- comment %}</locksmith:99bb>{% endcomment -%}
  {%- comment %}<locksmith:800e>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image:width" content="240">{% endif -%}
    {%- comment %}original: <meta name="twitter:image:width" content="240">{%- endcomment %}
  {%- comment %}</locksmith:800e>{% endcomment -%}
  {%- comment %}<locksmith:e4fd>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image:height" content="240">{% endif -%}
    {%- comment %}original: <meta name="twitter:image:height" content="240">{%- endcomment %}
  {%- comment %}</locksmith:e4fd>{% endcomment -%}
{% elsif template contains 'article' %}
  {%- comment %}<locksmith:d2e0>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ article.title }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ article.title }}">{%- endcomment %}
  {%- comment %}</locksmith:d2e0>{% endcomment -%}
  {%- comment %}<locksmith:501c>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:501c>{% endcomment -%}
  {% if article.image %}
    <meta property="twitter:image" content="http:{{ article.image | img_url: '600x' }}">
  {% elsif article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% if src %}
      <meta property="twitter:image" content="{{ src }}">
    {% endif %}
  {% endif %}
{% endif %}