<div class="trust-badges--container">
  
  <h3 class="trust-badges--title"><span>Secured &amp; trusted checkout</span></h3>

  {%- unless shop.enabled_payment_types == empty -%}
  <ul class="list--inline payment-icons trust-badges--images">
    {%- for type in shop.enabled_payment_types -%}
    <li>
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
    {%- endfor -%}
  </ul>
  {%- endunless -%}

</div>