{% paginate customer.orders by 20 %}
  <a name="pagecontent" id="pagecontent"></a>

  <header class="account-header clearfix">
    <div class="eight columns account-header-title">
      <h1>{{ 'customer.account.details' | t }}</h1>
    </div>
    <div class="eight columns account-header-logout">
      <span>{{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
    </div>
  </header>
  <div class="feature_divider"></div>

  <div class="section clearfix">
    <aside class="five columns account-sidebar">
      <h4 class="name"><a href="/account" title="{{ 'layout.customer.my_account' | t }}">{{ customer.name }}</a></h4>
      <p class="manage-subscriptions">{% if customer.metafields.subscriptions.customer_string %}

<p><a href="/tools/recurring/login/">Manage Subscriptions</a></p>

{% endif %}</p>
      <p class="email note">{{ customer.email }}</p>
      <h4>{{ 'customer.addresses.primary' | t }}</h4>
      {% if customer.metafields.subscriptions.customer_string %}
        <div class="address note">
          <p>To update your address, billing information or change your subscription click on 'manage subscriptions.'</p>
        </div>
      {% else %}
        <div class="address note">
          {% if customer.default_address != nil %}
            <p>{{ customer.default_address.address1 }}</p>
            {% if customer.default_address.address2 != "" %}
              <p>{{ customer.default_address.address2 }}</p>
            {% endif %}
            <p>{{ customer.default_address.city}}{% if customer.default_address.province_code %}, {{customer.default_address.province_code}}{% endif %} {{ customer.default_address.zip}}</p>
            <p>{{customer.default_address.country}}</p>
            <p>{{ customer.default_address.phone }}</p>
          {% else %}
            <p>{{ 'customer.addresses.no_addresses' | t }}</p>
          {% endif %}


            <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
        </div>
      {% endif %}
    </aside>
    <main class="eleven columns account-main">
      <div id="customer_orders">
        <h4>{{ 'customer.orders.title' | t }}</h4>

        {% if customer.orders.size != 0 %}
        <table width="100%">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: "month_day_year" }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>
                    <span class="money">{{ order.total_price | money }}</span>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% include 'pagination' with true %}
      </div>
    </main>
  </div>
{% endpaginate %}
