{% comment %}
** Custom intro section - homepage partial **
- Draggable section
- Uses blocks
- Combines headline text + logos
{% endcomment %}

{% if type == 'block' %}
  {% assign image = block.settings.image %}
  {% assign title = block.settings.title %}
  {% assign content = block.settings.content %}
  {% assign text_size = block.settings.text_size %}
  {% assign text_alignment = block.settings.text_alignment %}
  {% assign button_label = block.settings.button_label %}
  {% assign button_link = block.settings.button_link %}
{% else %}
  {% assign image = section.settings.image %}
  {% assign title = section.settings.title %}
  {% assign content = section.settings.content %}
  {% assign text_size = section.settings.text_size %}
  {% assign text_alignment = section.settings.text_alignment %}
  {% assign button_label = section.settings.button_label %}
  {% assign button_link = section.settings.button_link %}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="homepage_content section {{ text_alignment }} clearfix">
      {% if image %}
        <img  src="{{ image.src | img_url: '100x' }}"
              class="lazyload {{ settings.image_loading_style }}"
              alt="{{ image.alt }}"
              style="max-width: {{- image.width -}}px;"
              data-sizes="auto"
              data-src="{{ image | img_url: '2048x' }}"
              data-srcset=" {{ image | img_url: '2048x' }} 2048w,
                            {{ image | img_url: '1600x' }} 1600w,
                            {{ image | img_url: '1200x' }} 1200w,
                            {{ image | img_url: '1000x' }} 1000w,
                            {{ image | img_url: '800x' }} 800w,
                            {{ image | img_url: '600x' }} 600w,
                            {{ image | img_url: '400x' }} 400w"
              />
      {% endif %}

      {% if title != blank %}
        <h2 class="title">
          {{ title }}
        </h2>
      {% endif %}

      <div class="{{ text_size }}">
        {% if content != blank %}
          {{ content }}
        {% endif %}

        {% if button_label != blank %}
          <a href="{{ button_link }}" class="action_button">
            {{ button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  @media only screen and (max-width: 798px) {
    .featured_text {
      text-align: {{ text_alignment }};
    }
  }
</style>

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

<div class="logo-bar-section container">
  <div class="sixteen columns">
    <div class="section clearfix">
    {% if section.settings.logo-title != blank %}
        <h2 class="logo-title title center"><span>{{ section.settings.logo-title | escape }}</span></h2>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="logo-bar">
        {% for block in section.blocks %}
          <div class="logo-bar__item" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="logo-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
              <img  src="{{ block.settings.image | img_url: '100x' }}"
                alt="{{ block.settings.image.alt | escape }}"
                class="lazyload {{ settings.image_loading_style }}"
                style="max-width: {{- block.settings.image.width -}}px;"
                data-sizes="auto"
                data-src="{{ block.settings.image | img_url: default }}"
                data-srcset="
                {{ block.settings.image | img_url: default }} {{default | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size1 }} {{size1 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size2 }} {{size2 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size3 }} {{size3 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size4 }} {{size4 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size5 }} {{size5 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size6 }} {{size6 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size7 }} {{size7 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size8 }} {{size8 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size9 }} {{size9 | replace: 'x', 'w'}},
                {{ block.settings.image | img_url: size10 }} {{size10 | replace: 'x', 'w'}}"
                 />
            {% else %}
              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Logo list",
    "class": "custom-intro-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ],
        "default": "featured_text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "logo-title",
        "label": "Logo List Heading",
        "default": "Logo list"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom intro section",
        "category": "Custom",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
