{% comment %}
** Search results - default view **
- Template section
- Uses blocks
{% endcomment %}

{% assign search_pagination = section.settings.pagination_limit %}
{% paginate search.results by search_pagination %}

{% capture sizes %}100x,480x,765x,1400x,2048x{% endcapture %}
{% assign sizes = sizes | split: ',' %}

{% if section.settings.image != blank %}
  <header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
    <img src="{{ section.settings.image | img_url: sizes.first }}"
          data-src="{{ section.settings.image | img_url: sizes.last }}"
          alt="{{ 'general.search.title' | t }}"
          class="lazyload {{ settings.image_loading_style }}"
          sizes="100vw"
          srcset="{%- for size in sizes -%}
                    {%- if section.settings.image -%}
                      {{ section.settings.image | img_url: size, format: 'pjpg' }}
                    {%- endif -%}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                  {%- endfor -%}
          " />
    <div class="caption captionOverlay--true">
      <h1 class="headline">{{ 'general.search.title' | t }}</h1>
    </div>
  </header>
{% endif %}


<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">

  <div class="clearfix breadcrumb-collection">
    {% if section.settings.search_breadcrumb %}
      <div class="eight columns breadcrumb_text medium-down--one-whole" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="breadcrumb-divider">/</span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/search" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.search.title' | t }}</span></a></span>

        {% if paginate.pages != 0 and settings.search_pagination_type != 'load_more' and settings.search_pagination_type != 'infinite_scroll' %}
            <span class="breadcrumb-divider">/</span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if section.settings.image == blank %}
    <div class="section clearfix">
      <div class="sixteen columns clearfix">
        <h1>{{ 'general.search.title' | t }}</h1>
        <div class="feature_divider"></div>
      </div>
    </div>
  {% endif %}

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  {% if sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns medium-down--one-whole">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    {% if search.performed %}

      {% if search.results == empty %}
        <div class="search_page text-align--center">
          <div class="center">
            <h3>
              {{ 'general.search.no_results' | t }}
            </h3>
          </div>
          <div class="clearfix center">
            <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
          </div>
          <br class="clear" />

          {% include 'search-form', search_term: section.settings.search_term %}
        </div>
      {% else %}

    {% if settings.search_option == 'everything' or search.results.first.price == blank %}

      <div class="search-matrix">
        {% for item in search.results %}
          {%- comment %}<locksmith:b13c>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: item, subject_parent: search, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:b13c>{% endcomment -%}
          <div class="product_row clearfix">
            {% assign featured_image = false %}

            {% if item.object_type == 'article' and item.image %}
              {% assign featured_image = true %}
              <div class="four columns alpha">
                <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    <img src="{{ item.image | img_url: '600x', scale: 2 }}"  alt="{{ item.title | escape }}" />
                </a>
              </div>
            {% elsif item.featured_image %}
              {% assign featured_image = true %}
              <div class="four columns alpha">
                <a href="{{ item.url }}" title="{{ item.title | escape }}">
                    <img src="{{ item.featured_image | product_img_url: '600x', scale: 2 }}"  alt="{{ item.title | escape }}" />
                </a>
              </div>
            {% endif %}

            {% if sidebar %}
              <div class="{% if featured_image %}eight{% else %}twelve{% endif %} columns omega align_left">
            {% else %}
              <div class="{% if featured_image %}twelve{% else %}sixteen alpha{% endif %} columns omega align_left">
            {% endif %}

              <h5 class="sub_title">
                <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
              </h5>

              {% if item.price %}
                <div class="info">
                    <span class="price">
                      {% if item.compare_at_price_max > item.price %}
                        <span class="was_price">{{ item.compare_at_price_max | money }}</span>
                      {% endif %}

                      {% if item.available %}
                        {% if item.price_varies %}
                          {% if item.compare_at_price_max > item.price %}
                            <br />
                          {% endif %}
                          <small><em>{{ 'products.general.from' | t }}</em></small>
                        {% endif %}
                        {{ item.price_min | money }}
                      {% else %}
                        {{ item.price_min | money }} - {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                </div>
              {% endif %}

              {% if item.object_type == 'article' %}
                <p class="blog_meta">
                  {% if section.settings.blog_author %}
                    <span>{{ 'blogs.article.by_author' | t: author: item.author }}</span>
                  {% endif %}

                  {% if section.settings.blog_date %}
                    <span>{{ item.published_at | date: format: "month_day_year" }}</span>
                  {% endif %}
                </p>
              {% endif %}

              {% if item.excerpt %}
                <div class="excerpt">{{ item.excerpt }}</div>

                {% if section.settings.read_more_link %}
                  <p>
                    <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
                  </p>
                {% endif %}
              {% else %}
                <p>
                  {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' }}
                </p>
              {% endif %}
            </div>
          </div>
      {% endfor %}
      {% if settings.search_pagination_type == 'load_more' or settings.search_pagination_type == 'infinite_scroll' %}
        {% if paginate.next.url %}
          <span class="js-load-more load-more">
            <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">{{ 'general.search.load_more' | t }}</a>
          </span>
        {% endif %}
      {% endif %}
    </div>
    <div class="load-more__icon"></div>

    {% else %}
      {% assign products = search.results %}
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'product-loop', sidebar: sidebar %}

    {% endif %}
  {% endif %}

    {% else %}
      <div class="clearfix search_page text-align--center">
        <div class="center">
          <h3>
            {{ 'general.search.description' | t }}
          </h3>
        </div>
        <br class="clear" />

        {% include 'search-form' %}

      </div>
    {% endif %}

    {% unless settings.search_pagination_type == 'load_more' or settings.search_pagination_type == 'infinite_scroll' %}
      {% include 'pagination' with sidebar %}
    {% endunless %}
  </div>

  {% endpaginate %}
</div>


{% schema %}

{
  "name": "Search",
  "class": "search-template-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "text",
      "id": "search_term",
      "label": "Placeholder text",
      "default": "Search..."
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Blog results"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for article excerpts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create search sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
