<div class="page-heading">
  <h1>{{ page.title }}</h1>
</div>

<div class="starter-kit flex wrap">
  <div class="kit-image" style="background-image: url({{ section.settings.kit-image | img_url: '800x' }});">
    {{ section.settings.kit-image | img_url: '800x' | img_tag: 'Starter Kit' }}
  </div>
  <div class="kit-info flex flex-column align-center wrap">
    <h2>{{ section.settings.kit-heading }}</h2>
    <ul>{{ section.settings.bullets | replace: '<p>', '<li>' | replace: '</p>', '</li>' }}</ul>
    <span class="kit-badge"><span>{{ section.settings.badge }}</span></span>
  </div>
</div>

<div class="container main content">
  <div class="sixteen columns page clearfix">
    <p class="club-message">{{ section.settings.club-message }}</p>
  </div>

  {% assign product = all_products[section.settings.starter-kit] %}

  <div class="subscription-steps">
    <div class="step-1" data-base-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}">
      <span class="step-text">Step 1</span>
      <h3 id="handle-color">{{ section.settings.step-1 }}</h3>
      <a style="display: none;" class="goToFrequency" href="#frequency">Next step</a>

      <div class="line-item-property__field flex align-center wrap" data-type="handle-color">
        {% for variant in product.variants %}
          <input type="radio" id="handle{{ variant.title | camelcase }}" name="handle-color" data-var="{{ variant.id }}" value="{{ variant.title }}">
          <label for="handle{{ variant.title | camelcase }}" class="option flex flex-column space">
            <span class="check"><i class="fal fa-check"></i></span>
            <div>
              <h3>{{ variant.title }}</h3>
            </div>
          </label>
        {% endfor %}
      </div>

      <div class="handle-info">
        <div class="flex">
          {% for variant in product.variants %}
            <div class="variant-image">{{ variant.image | img_url: '800x' | img_tag: variant.title }}</div>
          {% endfor %}
        </div>
        <div class="handle-desc">
          <h3>{{ section.settings.handle-heading }}</h3>
          <div class="rte">{{ product.description }}</div>
        </div>
      </div>
    </div>
    <div class="step-2">
      <span class="step-text">Step 2</span>
      <h3 id="frequency">{{ section.settings.step-2 }}</h3>
      <a style="display: none" class="goToAddons" href="#addons">Next step</a>

      <div class="line-item-property__field flex align-center wrap" data-type="frequency">

        <input type="radio" id="frequency1" name="frequency" value="{{ section.settings.frequency-1 }}">
        <label for="frequency1" class="option flex flex-column space">
          <span class="check"><i class="fal fa-check"></i></span>
          <div>
            <h3>{{ section.settings.frequency-1-heading }}</h3>
            <p>{{ section.settings.frequency-1-subheading }}</p>
          </div>
        </label>

        <input type="radio" id="frequency2" name="frequency" value="{{ section.settings.frequency-2 }}">
        <label for="frequency2" class="option flex flex-column space">
          <span class="check"><i class="fal fa-check"></i></span>
          <div>
            <h3>{{ section.settings.frequency-2-heading }}</h3>
            <p>{{ section.settings.frequency-2-subheading }}</p>
          </div>
        </label>

        <input type="radio" id="frequency3" name="frequency" value="{{ section.settings.frequency-3 }}">
        <label for="frequency3" class="option flex flex-column space">
          <span class="check"><i class="fal fa-check"></i></span>
          <div>
            <h3>{{ section.settings.frequency-3-heading }}</h3>
            <p>{{ section.settings.frequency-3-subheading }}</p>
          </div>
        </label>
      </div>
      <div class="delivery-info">{{ section.settings.delivery-info }}</div>
    </div>
    {% if section.settings.show_addon-1 or section.settings.show_addon-2 %}
    <div class="step-3">
      <span class="step-text">Step 3</span>
      <h3 id="addons">{{ section.settings.step-3 }}</h3>
      <div class="addon-products flex flex-start around wrap">
        {% if section.settings.show_addon-1 %}
        <div class="addon addon-1">
          <img src="{{ all_products[section.settings.addon-1].featured_image | img_url: '600x' }}">
          {% for tag in all_products[section.settings.addon-1].tags %}
            {%- comment %}<locksmith:0215>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: tag, subject_parent: all_products[section.settings.addon-1], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:0215>{% endcomment -%}
            {% if tag contains 'Favorite' %}
              <span class="callout"><span>{{ tag }}</span></span>
            {% endif %}
          {% endfor %}
          <h3 class="title">{{ all_products[section.settings.addon-1].title }}</h3>
          {% assign addon_1_price = all_products[section.settings.addon-1].price | money_without_trailing_zeros %}
          <p>{{ section.settings.addon-1-desc }}</p>
          <div class="addon-options">
            <input type="radio" name="addon-1" data-sub="false" id="addon-1-one-time" data-cost="{{ addon_1_price | remove: '$' }}" value="Yes, add one time (+{{ addon_1_price }})">
            <label for="addon-1-one-time">Add {{ all_products[section.settings.addon-1].title }} (one-time purchase) &mdash; {{ addon_1_price }}</label>
            <input type="radio" name="addon-1" data-sub="true" id="addon-1-subscription" checked data-cost="{{ section.settings.addon-1-sub-price }}" value="Yes, add to my subscription (+${{ section.settings.addon-1-sub-price }})">
            <label for="addon-1-subscription">Add {{ all_products[section.settings.addon-1].title }} to subscription &mdash; ${{ section.settings.addon-1-sub-price }}</label>
          <input type="radio" name="addon-1" data-sub="false" id="addon-1-no-thanks" data-cost="0"  value="No thanks">
          <label for="addon-1-no-thanks">No thanks</label>
            <div class="select-scent">
              <h4>Select a scent</h4>
              {% assign tooltips = section.settings.scent-descriptions | remove: '</p>' | replace: ' - ', '|' | split: '<p>' %}
              {%- comment %}<locksmith:3d44>{% endcomment -%}
                {%- assign locksmith_a70d_forloop__size = 0 %}{% for variant in all_products[section.settings.addon-1].variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: all_products[section.settings.addon-1], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_a70d_forloop__size = locksmith_a70d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_a70d_forloop__index = nil -%}
              {%- comment %}</locksmith:3d44>{% endcomment -%}
              {% for variant in all_products[section.settings.addon-1].variants %}
                {%- comment %}<locksmith:5c95>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: all_products[section.settings.addon-1], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_a70d_forloop__index == nil %}{% assign locksmith_a70d_forloop__index = 1 %}{% assign locksmith_a70d_forloop__index0 = 0 %}{% else %}{% assign locksmith_a70d_forloop__index = locksmith_a70d_forloop__index | plus: 1 %}{% assign locksmith_a70d_forloop__index0 = locksmith_a70d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_a70d_forloop__index == 1 %}{% assign locksmith_a70d_forloop__first = true %}{% else %}{% assign locksmith_a70d_forloop__first = false %}{% endif %}{% if locksmith_a70d_forloop__index == locksmith_a70d_forloop__size %}{% assign locksmith_a70d_forloop__last = true %}{% else %}{% assign locksmith_a70d_forloop__last = false %}{% endif %}{% assign locksmith_a70d_forloop__rindex = locksmith_a70d_forloop__size | minus: locksmith_a70d_forloop__index | minus: 1 %}{% assign locksmith_a70d_forloop__rindex0 = locksmith_a70d_forloop__size | minus: locksmith_a70d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:5c95>{% endcomment -%}
                {% for tooltip in tooltips %}
                  {% if tooltip contains variant.title %}
                    {% assign scent_desc = tooltip | split: '|' | last %}
                  {% endif %}
                {% endfor %}
                <div>
                  <input type="radio" name="scent" data-vid="{{ variant.id }}" id="scent-{{ variant.title | handle }}" data-sub-vid="{{ variant.metafields.subscriptions.discount_variant_id }}" id="scent-{{ variant.title | handle }}" value="{{ variant.title }}"{% if locksmith_a70d_forloop__first %} checked{% endif %}>
                  <label for="scent-{{ variant.title | handle }}">
                    {{ variant.title }}
                    <span>{{ scent_desc }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
        {% if section.settings.show_addon-2 %}
        <div class="addon addon-2" data-vid="{% for variant in all_products[section.settings.addon-2].variants %}{%- comment %}<locksmith:caf1>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: all_products[section.settings.addon-2], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:caf1>{% endcomment -%}{% if variant.title contains 'Surprise' %}{{ variant.id }}{% endif %}{% endfor %}" data-sub-vid="{% for variant in all_products[section.settings.addon-2].variants %}{%- comment %}<locksmith:25c3>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: all_products[section.settings.addon-2], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:25c3>{% endcomment -%}{% if variant.title contains 'Surprise' %}{{ variant.metafields.subscriptions.discount_variant_id }}{% endif %}{% endfor %}">
          <img src="{{ all_products[section.settings.addon-2].featured_image | img_url: '600x' }}">
          <h3 class="title">{{ all_products[section.settings.addon-2].title }}</h3>
          {% assign addon_2_price = all_products[section.settings.addon-2].price | money_without_trailing_zeros %}
          <p>{{ section.settings.addon-2-desc }}</p>
          <div class="addon-options">
            <input type="radio" name="addon-2" data-sub="false" id="addon-2-one-time" data-cost="{{ addon_2_price | remove: '$' }}" value="Yes, add one time (+{{ addon_2_price }})">
            <label for="addon-2-one-time">Add {{ all_products[section.settings.addon-2].title }} (one-time purchase) &mdash; {{ addon_2_price }}</label>

            <input type="radio" name="addon-2" data-sub="true" id="addon-2-subscription" data-cost="{{ section.settings.addon-2-sub-price }}" value="Yes, add to my subscription (+${{ section.settings.addon-2-sub-price }})">
            <label for="addon-2-subscription">Add {{ all_products[section.settings.addon-2].title }} to subscription &mdash; ${{ section.settings.addon-2-sub-price }}</label>

            <input type="radio" name="addon-2" data-sub="false" id="addon-2-no-thanks" checked value="No thanks" data-cost="0">
            <label for="addon-2-no-thanks">No thanks</label>
          </div>
        </div>
        {% endif %}
      </div>
      <a style="display: none;" class="goToReview" href="#review"></a>
    </div>
    {% endif %}
    <div class="step-4 review">
      <span class="step-text">Review</span>
      <h3 id="review">{{ section.settings.review }}</h3>
      <div class="summary">
        <p>{{ section.settings.summary-text }}</p>
        <table border="0">
          <tr data-type="handle-color">
            <td valign="top">Handle color </td>
            <td valign="top"><a href="#handle-color">Select color</a></td>
          </tr>
          <tr data-type="frequency">
            <td valign="top">Delivery frequency </td>
            <td valign="top"><a href="#frequency">Select frequency</a></td>
          </tr>
          {% if section.settings.show_addon-1 %}
          <tr data-type="addon-1">
            <td valign="top">Add {{ all_products[section.settings.addon-1].title }}? </td>
            <td valign="top">Add Whipped Shave Butter to subscription — ${{ section.settings.addon-1-sub-price }}</td>
          </tr>
          {% endif %}
          <tr data-type="scent" >
            <td valign="top">Selected scent </td>
            <td valign="top">{{ all_products[section.settings.addon-1].variants[5].title }}</td>
          </tr>
          {% if section.settings.show_addon-2 %}
          <tr data-type="addon-2">
            <td valign="top">Add {{ all_products[section.settings.addon-2].title }}? </td>
            <td valign="top">No thanks</td>
          </tr>
          {% endif %}
          <tr data-type="shipping">
            <td valign="top">Shipping </td>
            <td valign="top">Free in the U.S.</td>
          </tr>
          {% assign whipped_price = 0 %}
          {% if section.settings.show_addon-1 %}
            {% assign whipped_price = section.settings.addon-1-sub-price | plus: 0 %}
          {% endif %}
          {% assign product_price = product.price | money_without_trailing_zeros | remove: '$' %}
          {% assign total_price = whipped_price | plus: product_price %}
          <tr data-type="total">
            <td valign="top">Total due today </td>
            <td valign="top">${{total_price}}</td>
          </tr>
          <tr data-type="recurring">
            <td valign="top">Total recurring </td>
            <td valign="top">${{total_price}}</td>
          </tr>
        </table>
        <input id="add-to-cart-button" type="submit" value="Add to Cart" disabled>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Subscription Workflow",
    "class": "subscription-workflow",
    "settings": [
      {
        "type": "header",
        "content": "Starter Kit Info"
      },
      {
        "type": "product",
        "id": "starter-kit",
        "label": "Product"
      },
      {
        "type": "image_picker",
        "id": "kit-image",
        "label": "Kit Image"
      },
      {
        "type": "text",
        "id": "kit-heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "bullets",
        "label": "Kit Includes"
      },
      {
        "type": "text",
        "id": "badge",
        "label": "Kit Badge"
      },
      {
        "type": "header",
        "content": "More Information"
      },
      {
        "type": "textarea",
        "id": "club-message",
        "label": "Club Message"
      },
      {
        "type": "header",
        "content": "Step 1"
      },
      {
        "type": "text",
        "id": "step-1",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "handle-heading",
        "label": "Handle Heading"
      },
      {
        "type": "header",
        "content": "Step 2"
      },
      {
        "type": "text",
        "id": "step-2",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "frequency-1",
        "label": "Delivery Option #1",
        "info": "Frequency, in months"
      },
      {
        "type": "text",
        "id": "frequency-1-heading",
        "label": "Option #1 Heading"
      },
      {
        "type": "text",
        "id": "frequency-1-subheading",
        "label": "Option #1 Subheading"
      },
      {
        "type": "text",
        "id": "frequency-2",
        "label": "Delivery Option #2",
        "info": "Frequency, in months"
      },
      {
        "type": "text",
        "id": "frequency-2-heading",
        "label": "Option #2 Heading"
      },
      {
        "type": "text",
        "id": "frequency-2-subheading",
        "label": "Option #2 Subheading"
      },
      {
        "type": "text",
        "id": "frequency-3",
        "label": "Delivery Option #3",
        "info": "Frequency, in months"
      },
      {
        "type": "text",
        "id": "frequency-3-heading",
        "label": "Option #3 Heading"
      },
      {
        "type": "text",
        "id": "frequency-3-subheading",
        "label": "Option #3 Subheading"
      },
      {
        "type": "textarea",
        "id": "delivery-info",
        "label": "Delivery Information"
      },
      {
        "type": "header",
        "content": "Step 3"
      },
      {
        "type": "text",
        "id": "step-3",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "show_addon-1",
        "label": "Show Addon Product #1",
        "default": true
      },
      {
        "type": "product",
        "id": "addon-1",
        "label": "Addon Product #1"
      },
      {
        "type": "textarea",
        "id": "addon-1-desc",
        "label": "Addon Product #1 Desc"
      },
      {
        "type": "text",
        "id": "addon-1-sub-price",
        "label": "Subscription Price",
        "default": "8"
      },
      {
        "type": "richtext",
        "id": "scent-descriptions",
        "label": "Scent Descriptions",
        "info": "One description per line. Scent name should be written exactly as it's written in the product option. Separate the scent name and description with a hyphen (-)."
      },
      {
        "type": "checkbox",
        "id": "show_addon-2",
        "label": "Show Addon Product #2",
        "default": true
      },
      {
        "type": "product",
        "id": "addon-2",
        "label": "Addon Product #2"
      },
      {
        "type": "textarea",
        "id": "addon-2-desc",
        "label": "Addon Product #2 Desc"
      },
      {
        "type": "text",
        "id": "addon-2-sub-price",
        "label": "Subscription Price",
        "default": "21"
      },
      {
        "type": "header",
        "content": "Review"
      },
      {
        "type": "text",
        "id": "review",
        "label": "Heading",
        "default": "You're all set!"
      }
    ]
  }
{% endschema %}