<style>
#header,	.header,	header{display:none	!important;}
#footer,	.footer,	footer{display:none	!important;}
.newsletter_section	{	display:none;	}
</style>
<a	name="pagecontent"	id="pagecontent"></a>
<div	class="twelve	columns	offset-by-two	page	clearfix">
<p	align	=	"center">	<a	href="/"	itemprop="url">
				<img	src="{{	"logo.png"	|	asset_url	}}"
						alt="{{	shop.name }}"
									itemprop="logo"	style="width:95%;	max-width:200px;	margintop:10px;"></a></p>
		<h1	align	=	"center">
				{{	page.title	}}
		</h1>
		<div	class="feature_divider"></div>
		<div>
				{{	page.content	}}
				<p></p>
				<p></p>
									<div	style="text-align:	center;"><small><a	href="https://allgirlshaveclub.com/">All Girl Shave Club</a>	|	<a	href="https://allgirlshaveclub.com/pages/privacy-policy">Privacy	Policy</a></small></div>
		</div>
</div>

