{% include 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% if product.title contains 'Starter Kit' %}
<script>window.location.href="/pages/get-started";</script>
{% else %}
{% section 'product-template' %}
{% endif %}

{{product.metafields.shogun.below}}

